$body-color: #020D3F;
$couple-name-color: #FFF;
$title-text-color: #FFF;

$title-font-family: 'Montserrat', sans-serif;
$name-font-family: 'Mohave', sans-serif;
$base-font-family: 'Lato', sans-serif;

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: $body-color;
}

#hero {
    position: relative;
    height: 100vh;
    width: 100vw;
    max-height: 64.0625vw;
    padding: 144px 15px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    #hero-overlay {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
    }

    section {
        position: relative;
        color: $couple-name-color;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        
        h3 {
            font-family: $title-font-family;
            font-size: 24px;
            line-height: 1.2;
            font-weight: 400;
        }

        h1 {
            font-family: $name-font-family;
            font-size: min(80px, 7vw);
            line-height: 1.45;
            font-weight: 500;
        }
    }
}

#image-border-effect {
    position: absolute;
    bottom: 0;
    z-index: 5;
    color: $body-color;
}

main {
    #presents-section-title {
        font-size: 24px;
        font-weight: 400;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;
        color: $title-text-color;
        font-family: $title-font-family;
        line-height: 29px;
        margin-top: 30px;
    }

    .divider {
        width: 100%;
        height: 80px;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
    }

    .products {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(auto-fit, 255px);
        -webkit-box-pack: center;
        justify-content: center;
        margin-bottom: 50px;

        .product {
            position: relative;
            border: 1px solid rgba(0, 0, 0, 0);
            border-radius: 0px;
            background: rgb(255, 254, 252);
            padding: 40px 19px;
            display: flex;
            flex-direction: column;
            -webkit-box-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            align-items: center;
            
            transition: opacity 0.2s;

            img {
                width: 100%;
                object-fit: cover;
            }

            section {
                color: $body-color;
                font-family: $base-font-family;
                margin-top: 20px;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;

                h1 {
                    font-size: 18px;
                    font-weight: normal;
                    line-height: 2;
                    text-align: center;
                    overflow-wrap: break-word;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-box-orient: vertical;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                }

                h2 {
                    font-size: 24px;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 2;
                    letter-spacing: normal;
                    text-align: center;
                }

                button {
                    cursor: pointer;
                    
                    font-family: $base-font-family;
                    color: $body-color;
                    font-size: 12px;
                    line-height: 2;
                    padding: 12px 36px;
                    box-shadow: none;
                    border: 1px solid $body-color;
                    background: $title-text-color;
                    transition: background 0.2s;

                    &:hover {
                        background: rgba(0, 0, 0, 0.05);
                    }
                }
            }

            &[disabled] {
                cursor: not-allowed;
                opacity: 0.32;

                button {
                    cursor: not-allowed;
                    &:hover {
                        background: $title-text-color;
                    }
                }
            }
        }
    }
}