$title-text-color: #FFF;
$body-color: #020D3F;
$couple-name-color: #FFF;

$title-font-family: 'Montserrat', sans-serif;
$name-font-family: 'Mohave', sans-serif;
$base-font-family: 'Lato', sans-serif;
