.panelContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    background-color: theme(colors.gray.300);
}

.title {
    font-size: 32px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: theme(colors.gray.900);
    font-family: theme(fontFamily.title);
    line-height: 29px;
}
