@use '../../styles/theme.scss';

.title {
    font-size: 32px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: theme.$title-text-color;
    font-family: theme.$title-font-family;
    line-height: 29px;
    margin-top: 30px;
}
